@model STYRKEGamesMovieDatabase.Models.Genre
@{
    ViewBag.Title = "Browse Movies";
}
<div class="genre">
    <h3>
        <em>@Model.Name</em> Movies
    </h3>

    <ul id="movie-list" class="list-unstyled">
        @foreach (var movie in Model.Movies)
        {
            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
                <a href="@Url.Action("Details", new { id = movie.MovieId })">
                    @if (!string.IsNullOrEmpty(movie.MovieArtUrl))
                    {
                        <img alt="@movie.Title" src="@Url.Content(@movie.MovieArtUrl)" />
                    }
                    <h5 class="control-label">@movie.Title</h5>
                </a>
            </li>
        }
    </ul>
</div>